
section{
    border-style: solid;
    position: absolute;
    margin-left: 500px;
    margin-top: 150px;
}
#password{
    margin-top: 10px;
}
#login {
    padding-top: 2px;
    padding-left: 10px;
    margin-left: 130px;
    margin-top: 10px;
}