aside {
    width: 270px;
    float: left;
    background-color: white;
    border-style: solid;
    padding-right: 10px;
    padding-left: 7px;
}

h2{
    background-color: grey;
    padding-top: 40px;
}
hr{
    color: black;
}
section{
    margin-left: 400px;
    margin-top: 100px;
}

#uitloggen{
    background-color: gray;
    border: none;
    color: green;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 7px;
    cursor: pointer;

}
#wijzig\ klant\ gegevens{
    background-color: mediumblue;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 7px;
    cursor: pointer;
}
#bekijk\ alle\ uren{
    background-color: mediumblue;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 7px;
    cursor: pointer;

}
#genereer\ factuur{
    background-color: mediumblue;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 7px;
    cursor: pointer;
    margin-left: 50px;
    margin-top: -200px;
}

#postNoJackson{
    background-color: mediumblue;
    border: none;
    color: white;
    padding: 9px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 7px;
    cursor: pointer;
    margin-left: 500px;
    margin-top: 5px;
    }

#put{
    background-color: mediumblue;
    border: none;
    color: white;
    padding: 9px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 7px;
    cursor: pointer;
    margin-left: 500px;
    margin-top: -200px;
}
#delete{
    background-color: mediumblue;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 7px;
    cursor: pointer;
    margin-left: 100px;
}

p.hide-me{
    display: none;
}

table{
    border-style: solid;
}
